@import "./login-cadastro.css";

main{
  background-image: url("../imgs/fundo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
#geral{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    background-color: #B00203;
    border-radius: 17px;
    opacity: 0.9;
    padding: 20px;
    min-width: 300px;
}
#beneficios{
    margin: 20px;
}
#texto-lateral{
    width: 50%;
    font-size: 2.8rem;
    font-weight: 700;
}
#texto-lateral, #form{
    background-color: #B00203;
}
#texto-lateral-paragrafo > strong{
    color: #fac116;
}
#form{
    width: 50%;
    padding: 10px;
    min-width: 300px;
}
form > h1{
    margin: 10px;
}
.campos input{
    font-size: 1rem;
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {

  #texto-lateral{
    display: none;
  }
  #form{
    padding: 20px;
    width: 80%;
    margin: auto;
  }
  #geral{
    padding: 20px 0;
    margin: auto;
  }

}

@media screen and (min-width: 2400px) {

  .container{
    width: 80%;
    max-width: 2560px;
    margin: auto;
  }
  #texto-lateral, #form{
    width: 50%;
    margin: 20px 0;
    font-size: 2.5rem;
  }
  #texto-lateral{
    font-size: 4rem;
  }
  #form{
    padding: 20px;
    width: 50%;
    margin: auto;
  }
  #geral{
    padding: 40px;
    margin: auto;
  }
  form > button{
    height: 80px;
    font-size: 2.4rem;
  }
  .campos > input{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 44px;
    border-radius: 12px;
    padding: 40px;
    font-size: 2.7rem;
  }
  #cadastro{
    font-size: 2rem;
  }
  #texto-lateral-conteudo > h1, form > h1{
    font-size: 4rem;
  }
  #texto-lateral-imagens > img{
    width: 100px;
    height: 100px;
  }
  .icone{
    width: 70px;
    height: 70px;
    margin: 0 10px;
  }
  #logo > a > img{
    width: 120px;
    height: 120px;
  }
  .header-login{
    padding: 50px 0;
    width: 100%;
  }

}