@import "./login-cadastro.css";

#texto-lateral{
    font-size: 1.4rem;
}
#beneficios{
    margin: 20px 0;
}
#beneficios li{
    margin: 20px 0; 
}
#texto-lateral-imagens > img{
    width: 60px;
    height: 60px;
}
#form{
    width: 30%;
    padding: 20px;
    min-width: 344px;
}
form, .campos{
    display: flex;
    flex-direction: column;
}
form > h1, #texto-lateral-paragrafo > h1{
    margin: 20px;
    font-size:2rem;
}
.campos input{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

@media screen and (min-height: 1365px) and (min-width: 911px) {

    main{
    flex-direction: column;
  }
  #texto-lateral, #form{
    width: 80%;
    margin: auto;
    padding: 0px;
  }
}   

@media screen and (max-width: 1023px) {

  main{
    flex-direction: column;
  }
  #texto-lateral, #form{
    width: 80%;
    margin: auto;
  }

}

@media screen and (min-width: 2560px) {

  main{
    flex-direction: row;
  }
  .container{
    width: 80%;
    max-width: 2560px;
    margin: auto;
  }

  #texto-lateral, #form{
    width: 21%;
    margin: 20px 0;
    font-size: 2.5rem;
  }
  #form{
    width: 40%;
  }
  #cadastro{
    font-size: 2rem;
  }
  #texto-lateral-paragrafo > h1, form > h1{
    font-size: 4rem;
  }
  .campos > input{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 44px;
    border-radius: 12px;
    padding: 40px;
    font-size: 2.7rem;
  }
  form > button{
    height: 80px;
    font-size: 2.4rem;
  }
  #texto-lateral-imagens > img{
    width: 100px;
    height: 100px;
  }
  .icone{
    width: 70px;
    height: 70px;
    margin: 0 10px;
  }
  #logo > a > img{
    width: 120px;
    height: 120px;
  }
  .header-login{
    padding: 50px 0;
    width: 100%;
  }

}
@media screen and (min-width: 3840px) {
  #texto-lateral{
    width: 15%;
  }
}