*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    min-height: 100vh;
    background-color:#B00203;
    display: flex;
    flex-direction: column;
}
.header-login{
    padding: 15px 0;
    width: 100%;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
#links, #links-icone, main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    flex:1;
    justify-content: space-around;
}
#links-icone{
    gap: 20px;
}
.icone {
    width: 30px;
    height: 30px;
}
#texto-lateral{
    color:#F8C754;
    text-align: center;
    padding: 20px;
}


#texto-lateral-paragrafo{
    margin: auto;
}
#form{
    color:#F8C754;
    text-align: center;
    margin:auto 0;
    font-size: 1rem;
}
form, .campos{
    display: flex;
    flex-direction: column;
}
form > h1{
    font-size:2rem;
}
.campos{
    align-items: flex-start;
}
.campos input{
    width: 100%;
    margin-top: 10px;
    height: 22px;
    border-radius: 7px;
    padding: 20px;
    border: none;
    font-size: medium;
    background-color: #fac116;
    color: #B00203;
}
form button{
    padding: 15px;
    width: 100%;
    background-color: #F8C754;
    color: #B00203;
    border: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
    font-size: 1.2rem;
}
input::placeholder {
  color: #B00203;
  font-weight: 700;
}
form > button:hover{
    background-color: #e9b417;
    cursor: pointer;
    transform: scale(1.05);
}
#cadastro{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#cadastro > a{
    text-decoration: none;
    color: #F8C754;
    transition: 0.3s ease-in-out;
}
#cadastro > a:hover{
    transform: scale(1.05);
    color: #e9b417;
}