* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
body {
  background-color: #4e342e;
}
header {
  display: flex;
  background-color: #c62828;
  padding: 1.31rem 2rem;
}
header img {
  width: 40px;
  height: 40px;
  position: relative;
  left: 12.3rem;
}
.menu-nav {
  background-color: #fff7eb;
  display: flex;
  justify-content: space-evenly;
}
.menu-nav a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
main {
  height: auto;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff7eb;
  font-weight: regular;
}
main form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
input[type="search"] {
  width: 30rem;
  height: 3rem;
  border-radius: 1.3rem;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
}
input[type="search"]::placeholder {
  text-align: start;
  text-transform: lowercase;
}
input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}
.menu-item {
  width: auto;
  height: 223px;
  background-color: #fff7eb;
  display: flex;
}
.menu-item-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.25rem;
}
.menu-item-description h2 {
  font-size: clamp(0.7rem, 2.5vw, 1.25rem);
  color: #c62828;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.menu-item-description p {
  font-size: 0.875rem;
  color: #4e342e;
  font-weight: 400;
}
.menu-item-description span {
  font-size: clamp(0.5rem, 1w, 0.875rem);
  color: #4e342e;
  font-weight: 600;
  font-size: 1.5rem;
}
.item-image img {
  width: 229.62px;
  object-fit: contain;
  border: none;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 7rem;
  color: #fff;
}
.contact .logo img {
  width: 4.5rem;
  height: 4.5rem;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact .social-media img {
  width: 3.8rem;
  height: 3.8rem;
}
footer {
  background-color: #fff7eb;
  text-align: center;
  padding: 1rem;
}
